@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #4B5563;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #F3F6FB;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


#app {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; 
  justify-content: flex-start;
  font-weight: bold;
}
